src/SelfContainedSolutionTest/unpacked-solution/Workflows/FindInOtherUnmanagedSolutions-8C3B1FA9-937B-EC11-8D21-00224829F478.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedcommondataserviceforapps_60c24"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "ApplyToEachSolutionComponent": {
          "actions": {
            "CheckForDefaultOrActiveSolution": {
              "actions": {},
              "else": {
                "actions": {
                  "AppendSolutionToFindResults": {
                    "inputs": {
                      "name": "FindResults",
                      "value": {
                        "friendlyname": "@{outputs('GetSolutionById')?['body/friendlyname']}",
                        "uniquename": "@{outputs('GetSolutionById')?['body/uniquename']}"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "33773ebc-5e96-479d-8475-b27714b9ef0e"
                    },
                    "runAfter": {},
                    "type": "AppendToArrayVariable"
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@outputs('GetSolutionById')?['body/uniquename']",
                      "Default"
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('GetSolutionById')?['body/uniquename']",
                      "Active"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "e681bc97-c70b-4536-b560-b135c8cbfc63"
              },
              "runAfter": {
                "GetSolutionById": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "GetSolutionById": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem"
                },
                "parameters": {
                  "$select": "uniquename,friendlyname",
                  "entityName": "solutions",
                  "recordId": "@items('ApplyToEachSolutionComponent')?['_solutionid_value']"
                }
              },
              "metadata": {
                "operationMetadataId": "93fb2f8c-3f29-4143-b655-b9c1d0893bc6"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            }
          },
          "foreach": "@outputs('ListSolutionComponentsWithObjectId')?['body/value']",
          "metadata": {
            "operationMetadataId": "18bcee65-dbd0-4cbe-a234-51e93a3e9df8"
          },
          "runAfter": {
            "ListSolutionComponentsWithObjectId": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "InitializeFindResults": {
          "inputs": {
            "variables": [
              {
                "name": "FindResults",
                "type": "array"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "fc998c67-0729-46bf-9abb-edc6455be319"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "ListSolutionComponentsWithObjectId": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$filter": "(objectid eq '@{triggerBody()['text']}') and (_solutionid_value ne '@{triggerBody()['text_1']}')",
              "$select": "solutioncomponentid,componenttype,objectid,_solutionid_value",
              "entityName": "solutioncomponents"
            }
          },
          "metadata": {
            "operationMetadataId": "4de5f9ee-6ba7-40ef-9075-f9f06a023998"
          },
          "runAfter": {
            "InitializeFindResults": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "jsonresponse": "@{variables('FindResults')}"
            },
            "schema": {
              "properties": {
                "jsonresponse": {
                  "title": "JsonResponse",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "a56ebbfb-76d7-4dc4-9323-bfac04cbce70"
          },
          "runAfter": {
            "ApplyToEachSolutionComponent": [
              "Succeeded"
            ]
          },
          "type": "Response"
        }
      },
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "ObjectId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "SolutionId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ],
              "type": "object"
            }
          },
          "kind": "Button",
          "metadata": {
            "operationMetadataId": "3b7a0c98-f2a3-4711-bfdb-45201cebb79a"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
